<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load forms_extras %}
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<style type="text/css" title="currentStyle">
			@import "{{ MEDIA_URL }}css/pages.css";
			@import "{{ MEDIA_URL }}css/dataTable.css";
		</style>
		<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/jquery/jquery.js"></script>
		<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/jquery/jquery.dataTables.js"></script>
		<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/filters.js"></script>
		<title> Filtros </title>
	</head>
	<body>
		<div id='content'>
			<div id='header'>
				<div id='branding'>&nbsp;</div>
				<div id='user-tools'>
					{% if user.is_authenticated %}
						Bem vindo, <strong>{{ user.username }}</strong>.
						{% if user.is_staff %}
							<a href='{{ url }}admin/'>Administração</a> /
						{% endif %}
						<a href='{{url}}logout/'>Encerrar sessão</a>
					{% else %}
						<a href='{{url}}admin/'>Administração</a>
					{% endif %}
				</div>
			</div>
			{% block content %}
			<div id='mainFrame'>
			{% if user.is_authenticated %}
				<div id='divFiltros'>
					<center>
					<fieldset class='filtros'>
						<legend> Triagem Baseline Hospitalar </legend>
						<div id='div1' class='filtros'>
							<table id='table1' width="80%">
								<thead>
									<tr>
										<th>Pergunta</th>
										<th>Total</th>
										<th> Sim </th>
										<th> Não </th>
										<th> Ignorado </th>
										
									</tr>
								</thead>
								<tbody>
									<tr>
										<td> Tosse </td>
										<td> {{ triagemBaselineHospital_tosseTotal }} </td>
										<td> {{ triagemBaselineHospital_tosseSim }} </td>
										<td> {{ triagemBaselineHospital_tosseNao }} </td>
										<td> {{ triagemBaselineHospital_tosseIgn }} </td>
									</tr>
									<tr>
										<td> Hemoptóico </td>
										<td> {{ triagemBaselineHospital_hemoptoicoTotal }} </td>
										<td> {{ triagemBaselineHospital_hemoptoicoSim }} </td>
										<td> {{ triagemBaselineHospital_hemoptoicoNao }} </td>
										<td> {{ triagemBaselineHospital_hemoptoicoIgn }} </td>
									</tr>
									<tr>
										<td> Sudorese </td>
										<td> {{ triagemBaselineHospital_sudoreseTotal }} </td>
										<td> {{ triagemBaselineHospital_sudoreseSim }} </td>
										<td> {{ triagemBaselineHospital_sudoreseNao }} </td>
										<td> {{ triagemBaselineHospital_sudoreseIgn }} </td>
									</tr>
									<tr>
										<td> Febre </td>
										<td> {{ triagemBaselineHospital_febreTotal }} </td>
										<td> {{ triagemBaselineHospital_febreSim }} </td>
										<td> {{ triagemBaselineHospital_febreNao }} </td>
										<td> {{ triagemBaselineHospital_febreIgn }} </td>
									</tr>
								</tbody>
							</table>
							<script>
								loadTable('1');
							</script>
						</div>
					</fieldset>
					<fieldset class='filtros'>
						<legend> Triagem Baseline Ambulatório </legend>
						<div id='div1' class='filtros'>
							<table id='table2' width="80%">
								<thead>
									<tr>
										<th>Pergunta</th>
										<th>Total</th>
										<th> Sim </th>
										<th> Não </th>
										<th> Ignorado </th>
										
									</tr>
								</thead>
								<tbody>
									<tr>
										<td> Tosse </td>
										<td> {{ triagemBaselineAmbulatorio_tosseTotal }} </td>
										<td> {{ triagemBaselineAmbulatorio_tosseSim }} </td>
										<td> {{ triagemBaselineAmbulatorio_tosseNao }} </td>
										<td> {{ triagemBaselineAmbulatorio_tosseIgn }} </td>
									</tr>
									<tr>
										<td> Hemoptóico </td>
										<td> {{ triagemBaselineAmbulatorio_hemoptoicoTotal }} </td>
										<td> {{ triagemBaselineAmbulatorio_hemoptoicoSim }} </td>
										<td> {{ triagemBaselineAmbulatorio_hemoptoicoNao }} </td>
										<td> {{ triagemBaselineAmbulatorio_hemoptoicoIgn }} </td>
									</tr>
									<tr>
										<td> Sudorese </td>
										<td> {{ triagemBaselineAmbulatorio_sudoreseTotal }} </td>
										<td> {{ triagemBaselineAmbulatorio_sudoreseSim }} </td>
										<td> {{ triagemBaselineAmbulatorio_sudoreseNao }} </td>
										<td> {{ triagemBaselineAmbulatorio_sudoreseIgn }} </td>
									</tr>
									<tr>
										<td> Febre </td>
										<td> {{ triagemBaselineAmbulatorio_febreTotal }} </td>
										<td> {{ triagemBaselineAmbulatorio_febreSim }} </td>
										<td> {{ triagemBaselineAmbulatorio_febreNao }} </td>
										<td> {{ triagemBaselineAmbulatorio_febreIgn }} </td>
									</tr>
								</tbody>
							</table>
							<script>
								loadTable('2');
							</script>
						</div>
					</fieldset>
					<fieldset class='filtros'>
						<legend> Triagem Implementação Hospital </legend>
						<div id='div1' class='filtros'>
							<table id='table7' width="80%">
								<thead>
									<tr>
										<th>Pergunta</th>
										<th>Total</th>
										<th> Sim </th>
										<th> Não </th>
										<th> Ignorado </th>
										
									</tr>
								</thead>
								<tbody>
									<tr>
										<td> Tosse </td>
										<td> {{ triagemImplementacaoHospital_tosseTotal }} </td>
										<td> {{ triagemImplementacaoHospital_tosseSim }} </td>
										<td> {{ triagemImplementacaoHospital_tosseNao }} </td>
										<td> {{ triagemImplementacaoHospital_tosseIgn }} </td>
									</tr>
									<tr>
										<td> Hemoptóico </td>
										<td> {{ triagemImplementacaoHospital_hemoptoicoTotal }} </td>
										<td> {{ triagemImplementacaoHospital_hemoptoicoSim }} </td>
										<td> {{ triagemImplementacaoHospital_hemoptoicoNao }} </td>
										<td> {{ triagemImplementacaoHospital_hemoptoicoIgn }} </td>
									</tr>
									<tr>
										<td> Sudorese </td>
										<td> {{ triagemImplementacaoHospital_sudoreseTotal }} </td>
										<td> {{ triagemImplementacaoHospital_sudoreseSim }} </td>
										<td> {{ triagemImplementacaoHospital_sudoreseNao }} </td>
										<td> {{ triagemImplementacaoHospital_sudoreseIgn }} </td>
									</tr>
									<tr>
										<td> Febre </td>
										<td> {{ triagemImplementacaoHospital_febreTotal }} </td>
										<td> {{ triagemImplementacaoHospital_febreSim }} </td>
										<td> {{ triagemImplementacaoHospital_febreNao }} </td>
										<td> {{ triagemImplementacaoHospital_febreIgn }} </td>
									</tr>
								</tbody>
							</table>
							<script>
								loadTable('7');
							</script>
						</div>
					</fieldset>
					<fieldset class='filtros'>
						<legend> Triagem Implementação Ambulatório </legend>
						<div id='div1' class='filtros'>
							<table id='table6' width="80%">
								<thead>
									<tr>
										<th>Pergunta</th>
										<th>Total</th>
										<th> Sim </th>
										<th> Não </th>
										<th> Ignorado </th>
										
									</tr>
								</thead>
								<tbody>
									<tr>
										<td> Tosse </td>
										<td> {{ triagemImplementacaoAmbulatorio_tosseTotal }} </td>
										<td> {{ triagemImplementacaoAmbulatorio_tosseSim }} </td>
										<td> {{ triagemImplementacaoAmbulatorio_tosseNao }} </td>
										<td> {{ triagemImplementacaoAmbulatorio_tosseIgn }} </td>
									</tr>
									<tr>
										<td> Hemoptóico </td>
										<td> {{ triagemImplementacaoAmbulatorio_hemoptoicoTotal }} </td>
										<td> {{ triagemImplementacaoAmbulatorio_hemoptoicoSim }} </td>
										<td> {{ triagemImplementacaoAmbulatorio_hemoptoicoNao }} </td>
										<td> {{ triagemImplementacaoAmbulatorio_hemoptoicoIgn }} </td>
									</tr>
									<tr>
										<td> Sudorese </td>
										<td> {{ triagemImplementacaoAmbulatorio_sudoreseTotal }} </td>
										<td> {{ triagemImplementacaoAmbulatorio_sudoreseSim }} </td>
										<td> {{ triagemImplementacaoAmbulatorio_sudoreseNao }} </td>
										<td> {{ triagemImplementacaoAmbulatorio_sudoreseIgn }} </td>
									</tr>
									<tr>
										<td> Febre </td>
										<td> {{ triagemImplementacaoAmbulatorio_febreTotal }} </td>
										<td> {{ triagemImplementacaoAmbulatorio_febreSim }} </td>
										<td> {{ triagemImplementacaoAmbulatorio_febreNao }} </td>
										<td> {{ triagemImplementacaoAmbulatorio_febreIgn }} </td>
									</tr>
								</tbody>
							</table>
							<script>
								loadTable('6');
							</script>
						</div>
					</fieldset>
					</center>
				</div>
			{% endif %}
			</div>
			{% endblock %}
		</div>
	</body>
</html>
