<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load forms_extras %}
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<style type="text/css" title="currentStyle">
			@import "{{ MEDIA_URL }}css/pages.css";
			@import "{{ MEDIA_URL }}css/dataTable.css";
		</style>
		<style type="text/css" title="currentStyle">
			ul.sub_menu{
				display:none;
			}
			#dashboard-container{
				margin-bottom: 20px;
			}
		</style>
		{{ form.media }}
		<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/jquery/jquery.js"></script>
		<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/jquery/jquery.dataTables.js"></script>
		<script type="text/javascript" language="javascript" src="{{ url }}/js/createHeaderFooter/"></script>
		<script type="text/javascript">
		$(document).ready(function() {
			if ($.browser.mozilla != true){
				window.location = "{{url}}FirefoxRequerido/"
			}
			$('header').createHeader();
			$('footer').createFooter();
			$('#triagem_menu').click(function () {
				$('#triagem_menu ul.sub_menu').slideToggle('medium');
			});
			$('#reports_menu').click(function () {
				$('#reports_menu ul.sub_menu').slideToggle('medium');
			});
			$('#download_menu').click(function () {
				$('#download_menu ul.sub_menu').slideToggle('medium');
			});
			$('#unidadeSaudesUsuario').val({{us_favorite.id}});
			$('#unidadeSaudesUsuario').change(function(){
				$.ajax({
					url: "{{url }}unidadesSaude/change/",
					type: "POST",
					data: { usId: $(this).val() },
					success : function(data){alert("Unidade Alterada");},
					error: function(data){alert("A unidade não foi alterada"); $('#unidadeSaudesUsuario').val(us_favorite.id)}
				});
			});
		});
		</script>
	</head>
	<body>
		<header></header>
		<div id='content'>
			{% if user.is_authenticated %}
				<div class='usChoice'> Sua unidade atual:
				<select id='unidadeSaudesUsuario'>
				{%for us in unidades_saudes%}
					<option value='{{us.id}}'> {{us.nome}}</option>
				{%endfor%}
				</select>
				</div>
				<div class='msg'> Selecione uma ação </div>
				<div class='dashboard-container'>
					<div class='dashboard'>
						<ul>
						{% if triagem_form_list|length_is:"1" %}
							<li id='triagem_menu'> <a href='{{ url }}form/{{triagem_form_list|first|getId}}/0' >Adicionar Paciente (Triagem)</a> </li>
						{% else%}
							<li id='triagem_menu'> <a href='#' >Adicionar Paciente (Triagem)</a>
								<ul  class="sub_menu">
									{% for f in triagem_form_list %}
									<li>
										<a href='{{ url }}form/{{ f.id }}/0'>
										{{ f.nome }}
										<div class='explanation'> <small> {{ f.descricao }} </small> </div>
										</a>
									</li>
									{% empty %}
									<li>
										<a href='#'>
										<div class='explanation'> <small> Nenhum formulário de triagem disponível </small></div>
										</a>
									</li>
									{% endfor %}
								</ul>
							</li>
							{% endif %}
							<li> <a href='patients'>Acessar Formulários</a> </li>
						{% if user.is_staff %}
							<li id='reports_menu'> <a href='#'> Relatórios </a>
								<ul class='sub_menu'>
									<li><a href='{{url}}reports/create'> Criar uma configuração </a></li>
									<li><a href='{{url}}reports/view'> Visualizar configurações</a></li>
								</ul>
							</li>
							<li id='download_menu'> <a href='#'>Exportar</a>
								<ul class='sub_menu'>
									<li><a href='{{ url }}download/excel/'>Exportar para excel (uma planilha p/ formulario)</a></li> 
									<li><a href='{{ url }}download/csv?report=true'>Exportar para CSV (arquivo compactado)</a></li> 
                                    <li><a href='{{ url }}files/'>Arquivo SPSS</a></li>
							</li>
						{% endif %}
						</ul>
					</div>
				</div>
			{% else %}
				<div class='error-msg'> {{ msg }} </div>
				<div id='login-container'>
					<div id='login'>
						<form action="{{ url }}login/" method="post" accept-charset="utf-8">
							<fieldset>
								<legend> Acessar o sistema </legend>
								<div id='divLogin'>
									<label for="username">Nome do Usuário:</label>
									<input type="text" name="username" value="" id="username" />
								</div>
								<div id='divPassword'>
									<label for="password">Senha:</label>
									<input type="password" name="password" value="" id="password" />
								</div>
								<div id='divSubmit'>
									<input type="submit" value="Entrar">
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			{% endif %}
			</div>
		</div>
		<footer></footer>
	</body>
</html>
